<form class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label for="project-name" class="control-label">Name of Project</label>
			<div class="controls">
				<input type="text" id="project-name" class="input-xxlarge">
				<p class="help-block">
					In addition to freeform text, any HTML5 text-based input appears like so.
				</p>
			</div>
		</div>					
		<div class="control-group">
			<label for="business-need" class="control-label">Business Need</label>
			<div class="controls">
				<textarea rows="3" id="business-need" class="input-xxlarge"></textarea>
				<p class="help-block">
					The business-related reason for initiating the system.
				</p>
			</div>
		</div>
		<div class="control-group">
			<label for="business-requirement" class="control-label">Business Requirement</label>
			<div class="controls">
				<textarea rows="3" id="business-requirement" class="input-xxlarge"></textarea>
				<p class="help-block">
					The business capabilities that the system will provide.
				</p>
			</div>
		</div>
		<div class="control-group">
			<label for="business-value" class="control-label">Business Value</label>
			<div class="controls">
				<textarea rows="3" id="business-value" class="input-xxlarge"></textarea>
				<p class="help-block">
					The benefits that the system will create for the organization.
				</p>
			</div>
		</div>
		<div class="control-group">
			<label for="business-value" class="control-label">Constraints</label>
			<div class="controls">
				<textarea rows="3" id="constraints" class="input-xxlarge"></textarea>
				<p class="help-block">
					Issues that are relevant to the implementation of the system and decisions made by the committee about the project. 
				</p>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" type="submit">
				Save changes
			</button>
			<button class="btn">
				Cancel
			</button>
		</div>
	</fieldset>
</form>