.yui3-skin-sam .yui3-datatable-tree-row-expanded .yui3-datatable-tree-col-knob { 
	background-image: url('/images/generic/datatable-tree/assets/skins/sam/open.png');
	background-repeat: no-repeat;
	background-position: center;
}

.yui3-skin-sam .yui3-datatable-tree-row-collapsed .yui3-datatable-tree-col-knob {
	background-image: url('/images/generic/datatable-tree/assets/skins/sam/closed.png');
	background-repeat: no-repeat;
	background-position: center;
}

.yui3-skin-sam .yui3-datatable-tree-row-expanded .yui3-datatable-tree-col, 
.yui3-skin-sam .yui3-datatable-tree-row-collapsed .yui3-datatable-tree-col {
	font-weight: bold;
}

.yui3-skin-sam .yui3-datatable-tree-row-hidden {display: none;}

.yui3-skin-sam .yui3-datatable-tree-row-depth-0 .yui3-datatable-tree-col {padding-left:  10px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-1 .yui3-datatable-tree-col {padding-left:  25px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-2 .yui3-datatable-tree-col {padding-left:  40px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-3 .yui3-datatable-tree-col {padding-left:  55px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-4 .yui3-datatable-tree-col {padding-left:  70px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-5 .yui3-datatable-tree-col {padding-left:  85px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-6 .yui3-datatable-tree-col {padding-left: 100px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-7 .yui3-datatable-tree-col {padding-left: 115px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-8 .yui3-datatable-tree-col {padding-left: 130px;}
.yui3-skin-sam .yui3-datatable-tree-row-depth-9 .yui3-datatable-tree-col {padding-left: 145px;}
