.yui3-listbuilder-content {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #CCC;
	overflow: auto;
	cursor: text;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.yui3-listbuilder-focused .yui3-listbuilder-content {
	border: 1px solid rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

 .yui3-listbuilder-content .yui3-listbuilder-tag-item,
 .yui3-listbuilder-content .yui3-listbuilder-tag-add {
	float: left;
	margin: 2px 0 2px 2px;
	color: #333;
}

 .yui3-listbuilder-content input {
	margin: 0;
	background: transparent;
	border: 0;
	outline: 0;
	color: #333;
	padding: 3px;
}

 .yui3-listbuilder-content .inactive {
	color: #FFF;
}

 .yui3-listbuilder-content .yui3-listbuilder-tag-item {
	display: inline-block;
	position: relative;
	cursor: default;
	border: 1px solid #AFBFCF;
	border-radius: 4px;
	background-color: #B1C2D3;
	background-image: -moz-linear-gradient(#D6E4F1,#B1C2D3);
	background-image: -webkit-gradient(linear,0 top,0 bottom,from(#D6E4F1),to(#B1C2D3));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D6E4F1,endColorstr=#B1C2D3);
	padding: 3px 25px 3px 3px;

}

 .yui3-listbuilder-content .yui3-listbuilder-tag-key-delete {
	background-color: #666;
	background-image: -moz-linear-gradient(#333,#666);
	background-image: -webkit-gradient(linear,0 top,0 bottom,from(#333),to(#666));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#666666);
	color: white;
}

.yui3-listbuilder-tag-close-button {
	color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 0;
    right: 2px;
}

 .yui3-listbuilder-content .yui3-listbuilder-tag-key-delete yui3-listbuilder-tag-close-button{
	color: #FFFFFF;
}

.yui3-listbuilder-tag-close-button:hover {
    opacity: 0.4;
}