body {
	padding-top: 80px;
}

.checker-body {
	position: relative;
	background-color: white;
	padding-top: 41px;
}

a:focus {
	outline: none;
}

.features {
	background-color: #D9EEF2;
}

.features .page-header {
	padding-top: 40px;
	border-bottom: 1px solid #9FD5DF;
}

.footer {
	border-top: 1px solid #D5D5D5;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	margin-right: 10px;
}
.site-info {
	background-color: #E4E4E4;
	padding: 30px 0;
}
.credits {
	border-top: 1px solid #3D3D42;
	background-color: #4D4D52;
	padding: 30px 0;
}
.credits p {
	color: #C0C0C0;
}

.introduction .hero-unit {
	background-color: #D9EEF2;
}

.yui3-app-alert-board {
}

.yui3-app-views {
	min-height: 500px;
}

.secondary {
	background-image: url(../bootstrap/img/connect.png);
}

.secondary .page-header {
	color: #5A5A5A;
	margin: 0;
	border: 0;
}

.secondary .navbar-inner {
	padding-left: 0;
	padding-right: 0;
}

.secondary .navbar-fixed-top {
	top: 40px;
}

.secondary.scroll-snapped {
	margin-bottom: 60px;
}

/**
 * 	CSS for GANTT Chart
 */
/*/////////////////Common Part which can be reused. TODO Need more refactoring//////////////////////////*/
.spreadsheet-table .table {
	margin-bottom: 0;
}

.spreadsheet-table .table th {
	text-align: center;
}

.spreadsheet-table .fixable-header {
	margin-bottom: 0;
	position: relative;
}

.spreadsheet-table.scroll-snapped .fixable-header {
	position: fixed;
	z-index: 10;
	background-color: #FFFFFF;
	top: 100px;
}

.spreadsheet-table.scroll-snapped .hide-scroll {     /* Prevents bleedthrough while scrolling vertically in snap mode*/
	background-color: white;
    height: 20px;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 200;
}

.spreadsheet-table .unmovable-cols {
	width: 200px;					/* total width of fixed columns on left */
	z-index: 1;
	position: relative;
}

.spreadsheet-table .movable-body {
	position: relative;
	top: -1px;
}

.spreadsheet-table.scroll-snapped .movable-body {
	padding-top: 87px;				/* total height of header rows*/
}

.spreadsheet-table.scroll-snapped .movable-body .movable-rows {
	top: 87px;						/* total height of header rows*/
	position: absolute;
}

#body-scrollview {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 199px;					/* 1px less than total width of fixed columns on left. 1px less is for overlapping borders of tables */
}

#header-scrollview {
	position: absolute;
	top:0;
	bottom: 0;
	left: 199px;					/* 1px less than total width of fixed columns on left. 1px less is for overlapping borders of tables */
}

#header-scrollview table {
	background-color: #FFF;
}

#body-scrollview-content {
	position: absolute;
	top: 0;
	bottom: 0;
}

/*////////////////////////////// App specific styles /////////////////////////////////*/
.gantt-grid {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.gantt-grid .table {
	height: 100%;
}

.gantt-grid .table td {
	width: 27px;
}

.task-bar, .parent-bar {
	margin-bottom: 0;
}

.task-bars .table td {
	padding-left: 0;
	padding-right: 0;
}

.yui3-scrollview-loading {
	visibility: hidden;
}

/***************Dialog Box************************ */
.yui3-confirmation-dialog-loading {
	display: none;
}

.yui3-widget-mask {
	background-color: black;
    opacity: 0.4;	
}
/***************Dialog Box************************ */