<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Let's Manage | Collaborative Projects</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		{{#with env}}
			{{#if useCDN}}
				<line href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">	
			{{else}}
				<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">			
			{{/if}}
		{{/with}}
		<link rel="shortcut icon" href="../bootstrap/img/favicon.ico">
		<style type="text/css">
			body {
				padding-top: 80px;
			}
			
			.features {
				background-color: #D9EEF2;
			}

			.features .page-header {
				padding-top: 40px;
				border-bottom: 1px solid #9FD5DF;
			}
			
			.footer {
				border-top: 1px solid #D5D5D5;
			}
			.footer p {
				margin-bottom: 0;
				color: #777;
			}
			.footer-links {
				margin: 10px 0;
			}
			.footer-links li {
				display: inline;
				margin-right: 10px;
			}
			.site-info {
				background-color: #E4E4E4;
				padding: 30px 0;
			}
			.credits {
				border-top: 1px solid #3D3D42;
				background-color: #4D4D52;
				padding: 30px 0;
			}
			.credits p {
				color: #C0C0C0;
			}
			.introduction .hero-unit {
				background-color: #D9EEF2;
			}
			
			.yui3-app-alert-board {
				width: 100%;
				position: relative;
				top: -20px;
			}
		</style>
		{{#with env}}
			{{#if useCDN}}
				<line href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css" rel="stylesheet">	
			{{else}}
				<link href="../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">			
			{{/if}}
		{{/with}}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner" id="primaryNav">
				<div class="container">
					<a class="btn btn-navbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">Let's Manage</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li>
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#features">Features</a>
							</li>
							<li>
								<a href="http://letsmanage.wordpress.com/about/" target="_blank">About</a>
							</li>
							<li>
								<a href="http://letsmanage.wordpress.com/about/#reply-title" target="_blank">Contact</a>
							</li>
						</ul>
						<form class="navbar-form pull-right">
							<input class="span2" type="text" placeholder="Email">
							<input class="span2" type="password" placeholder="Password">
							<button type="submit" class="btn btn-success">
								<i class="icon-user icon-white"></i> Sign in
							</button>
						</form>
					</div><!--/.nav-collapse -->
				</div><!--/.container-->
			</div><!--/.navbar-inner-->
		</div><!--/.navbar-->
		
		<div class='yui3-app-alert-board'>
		</div>
		
		<div class="container hide" id="secondaryNav">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">Overview</a>
					</li>
					<li>
						<a href="/schedule">Schedule</a>
					</li>
					<li>
						<a href="/gantt">Gantt</a>
					</li>
					<li>
						<a href="/team">Team</a>
					</li>
					<li class="pull-right">
						<a href="#">Project Name</a>
					</li>
				</ul>
			</div><!--/.navbar-inner-->
		</div>

		<div class="main">
			<div>
				<section class="introduction">
					<div class="container">
						<!-- Main hero unit for a primary marketing message or call to action -->
						<div class="hero-unit">
							<h1>Let's Manage <small>your projects anywhere, anytime...</small></h1>
							<p>
								Create and execute your projects with our innovative and powerful project management suite.
								Collaborate on your schedules, share your plans, manage project resources and prioritize your activities. The choice is yours!
							</p>
						</div>
						<!-- Example row of columns -->
						<div class="row">
							<div class="span4">
								<h2>What is Let's Manage?</h2>
								<p>
									Let's Manage is an innovative and modern project management suite providing web based collaborative project execution capabilities.
								</p>
							</div>
							<div class="span4">
								<h2>Who is it for?</h2>
								<p>
									It's for project teams, project stakeholders and project managers, who are looking for modern and better ways for effectively managing projects.
								</p>
							</div>
							<div class="span4">
								<h2>Why use it?</h2>
								<p>
									With project information accessible over the web; project teams, project managers and project stakeholders can collaborate easily to achieve results faster.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>&nbsp;</h2>
							</div>
						</div>
						<div class="row">
							<div class="span4 pagination-centered">
								<p>
									<img src="../bootstrap/img/Draft.png" class="img-rounded"></img>
								</p>
							</div>
							<div class="span8">
								<h2>Manage Smarter. Manage Together.</h2>
								<p>
									Often projects are planned in isolation and tasks are listed without team's consent.
									Project team receives the target date, which they have to meet without sticking to plan thus compromising quality and loosing team moral.
								</p>
								<p>
									With Let's Manage, this is no longer the case. As soon as project schedule is created, it is visible to every team member.
									Now they can add or remove tasks and arrange them in a order, more suitable for development. Since plan is created using team's input
									it is more realistic and team is likely to follow it.
								</p>
								<p>
									Stakeholders can also look at the planned activities and priortize them based on business needs.
									The project progress can now be monitored on near real time basis, task status can be tracked with no effort.
								</p>
							</div>
						</div>
					</div>
				</section>
	
				<section class="features" id="features">
					<div class="container">
						<div class="row">
							<div class="span12">
								<div class="page-header">
									<h1>Features <small>you can rely on</small></h1>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<p>
									<img src="../bootstrap/img/Clock - Time.png" />
								</p>
							</div>
							<div class="span8 offset1">
								<h2>Intelligent Scheduling <small class="text-warning">alpha</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span8">
								<h2>Beautiful Gantt Chart <small class="text-warning">alpha</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
							<div class="span3 offset1">
								<p>
									<img src="../bootstrap/img/Project Plan - Gant Chart.png" />
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<p>
									<img src="../bootstrap/img/Todo.png" />
								</p>
							</div>
							<div class="span8 offset1">
								<h2>Personalized Task List <small class="text-info">coming soon</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span8">
								<h2>Visible Milestones <small class="text-info">coming soon</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
							<div class="span3 offset1">
								<p>
									<img src="../bootstrap/img/Milestone.png" />
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<p>
									<img src="../bootstrap/img/Address Card.png" />
								</p>
							</div>
							<div class="span8 offset1">
								<h2>Effective Team Management <small class="text-success">pre alpha</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span8">
								<h2>Project Calendar <small class="text-info">coming soon</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
							<div class="span3 offset1">
								<p>
									<img src="../bootstrap/img/Calendar.png" />
								</p>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<p>
									<img src="../bootstrap/img/Bar Graph.png" />
								</p>
							</div>
							<div class="span8 offset1">
								<h2>Thoughtful Reports <small class="text-info">coming soon</small></h2>
								<p>
									As an extension to CSS, LESS is not only backwards compatible with CSS, but the extra features it adds use existing CSS syntax.
									This makes learning LESS a breeze, and if in doubt, lets you fall back to CSS.
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<footer class="footer">
			<div class="site-info">
				<div class="container">
					<div class="span12">
						<ul class="footer-links pagination-centered">
							<li>
								&copy; Company 2012
							</li>
							<li>
								<a href="http://letsmanage.wordpress.com" target="_blank">Read the blog</a>
							</li>
							<li>
								<a href="https://github.com/chitrasen-chintamani/LetsManage/issues/new?labels=enhancement" target="_blank">Request features</a>
							</li>
							<li>
								<a href="https://github.com/chitrasen-chintamani/LetsManage/issues/new" target="_blank">Submit issues</a>
							</li>
							<li>
								<a href="http://letsmanage.wordpress.com" target="_blank">Roadmap and changelog</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="credits">
				<div class="container">
					<p class="pull-right">
						<a href="#">Back to top</a>
					</p>
					<p>
						Running on <a href="http://nodejs.org/" target="_blank">Node.js</a>.
					</p>
					<p>
						JavaScript framework <a href="http://yuilibrary.com" target="_blank">YUI3</a>.
					</p>
					<p>
						<a href="http://www.mongodb.org/" target="_blank">MongoDB</a> object modeling using <a href="http://mongoosejs.com/" target="_blank">mongoose</a>.
					</p>
					<p>
						Built with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>.
					</p>
					<p class="pull-right">
						<a href="http://www.nodejitsu.com/" target="_blank"><img width="161" height="40" class="poweredby" alt="Powered by Nodejitsu" src="http://www.nodejitsu.com/img/logotype-poweredby.png"></a>
					</p>
					<p>
						Icons from <a href="http://glyphicons.com" target="_blank">Glyphicons</a>.
					</p>
					<p>
						Project icons designed by <a href="http://www.dezinerfolio.com/freebie/project-icon-set" target="_blank">Navdeep Raj</a> and released for <a href="http://www.smashingmagazine.com/2009/04/27/project-icon-set-for-free-download/" target="_blank">Smashing Magazine</a> and its readers.
					</p>
				</div>
			</div>
		</footer>
		
		{{#with env}}
			{{#if useCDN}}
				<script src="http://yui.yahooapis.com/3.7.2/build/yui/yui-min.js"></script>
			{{else}}
				<script src="http://127.0.0.1:8020/YUI/3.7.2/build/yui/yui.js"></script>
			{{/if}}
		{{/with}}
	
		<script>
			YUI({
				fetchCSS: false,
				
				{{#with env}}
					{{#if useCDN}}
						combine: true,
						comboBase: 'http://yui.yahooapis.com/combo?',
						root: '3.7.2/build/',
					{{else}}
						filter: 'RAW',			
					{{/if}}
				{{/with}}
				
				groups: {
					gallery: {
						root: '/gallery/',
						combine: true,
						comboBase: '/customjs?',
						filter: 'RAW',
						modules: {
							'gallery-event-pasted': {
								path: 'gallery-event-pasted/gallery-event-pasted.js',
								requires: ['event-synthetic']
							},
							
							'gallery-textarea-autoheight': {
								path: 'gallery-textarea-autoheight/gallery-textarea-autoheight.js',
								requires: ['plugin', 'base-build', 'node']
							},
							
							'gallery-markdown': {
								path: 'gallery-markdown/gallery-markdown.js',
							}
						}
					},
					
					fix: {
						root: '/fix/',
						combine: true,
						comboBase: '/customjs?',
						filter: 'RAW',
						modules: {
							'array-extras-fix': {
								path: 'array-extras/array-extras.js'
							},
							
							'datatype-date-math-fix': {
								path: 'datatype-date-math/datatype-date-math.js'
							}
						}
					},
					
					generic: {
						root: '/generic/',
						combine: true,
						comboBase: '/customjs?',
						filter: 'RAW',
						modules: {
							
							'alert': {
								path: 'alert/alert.js',
								requires: ['widget', 'transition'],
								skinnable: true
							},
							
							'list-builder': {
								path: 'list-builder/list-builder.js',
								requires : ['autocomplete-list', 'substitute', 'array-extras-fix', 'list-builder-keys', 'autocomplete-filters', 'autocomplete-highlighters'],
								skinnable: true
							},
							
							'list-builder-keys': {
								path: 'list-builder/list-builder-keys.js'
							},
							
							'tree-model': {
								path: 'tree-model/tree-model.js',
								requires: ['model', 'arraylist', 'arraylist-add']
							},
							
							'tree-model-list': {
								path: 'tree-model-list/tree-model-list.js',
								requires: ['model-list', 'tree-model']
							},
							
							'inline-editor': {
								path: 'inline-editor/inline-editor.js',
								requires: ['event', 'node', 'widget', 'widget-position', 'widget-stack', 'widget-position-align'],
								skinnable: true
							},
							
							'inline-date-editor': {
								path: 'inline-editor/inline-date-editor.js',
								requires: ['event', 'node', 'widget', 'widget-position', 'widget-stack', 'widget-position-align', 'calendar'],
								skinnable: false
							},
							
							'inline-resource-editor': {
								path: 'inline-editor/inline-resource-editor.js',
								requires : ['event', 'node', 'widget', 'widget-position', 'widget-stack', 'widget-position-align', 'list-builder', 'resource'],
								skinnable: false
							},
							
							'datatable-navigate-key': {
								path: 'datatable-navigate/datatable-navigate-key.js',
								requires: ['event-key', 'event-focus', 'gallery-event-pasted']
							},
							
							'datatable-navigate': {
								path: 'datatable-navigate/datatable-navigate.js',
								requires: ['node', 'datatable-base', 'substitute', 'datatable-selection', 'datatable-navigate-key'],
								skinnable: true
							},
							
							'datatable-edit': {
								path: 'datatable-edit/datatable-edit.js',
								requires: ['datatable-navigate', 'datatable-mutable'],
								skinnable: true
							},
							
							'datatable-tree': {
								path: 'datatable-tree/datatable-tree.js',
								requires: ['datatable-navigate'],
								skinnable: true
							},
							
							'datatable-tree-edit': {
								path: 'datatable-tree-edit/datatable-tree-edit.js',
								requires: ['datatable-tree'],
								skinnable: true
							},
							
							'datatable-selection': {
								path: 'datatable-selection/datatable-selection.js',
								skinnable: true
							},
							
							'model-list-variance': {
								path: 'model-list-variance/model-list-variance.js'
							}
						}
					},
					
					app: {
						root: '/app/',
						combine: true,
						comboBase: '/customjs?',
						filter: 'RAW',
						modules: {
							'handlebars-templates': {
								path: 'handlebars-templates/handlebars-templates.js',
								requires: ['handlebars-base'],
							},
							
							'scroll-snap': {
								path: 'scroll-snap/scroll-snap.js',
								requires: ['plugin', 'node-screen']
							},
							
							'login-view': {
								path: 'views/login-view.js',
								requires: ['view', 'handlebars-templates']
							},

							'logout-view': {
								path: 'views/logout-view.js',
								requires: ['view', 'handlebars-templates']
							},
							
							'newproject-view': {
								path: 'views/newproject-view.js',
								requires: ['view', 'project', 'gallery-textarea-autoheight', 'handlebars-templates']
							},
							
							'dashboard-view': {
								path: 'views/dashboard-view.js',
								requires: ['view', 'handlebars-templates']
							},
							
							'project-view': {
								path: 'views/project-view.js',
								requires: ['view', 'handlebars-templates']
							},
							
							'resource-view': {
								path: 'views/resource-view.js',
								requires: ['view', 'datatable-edit', 'resource-list', 'resource']
							},
							
							'schedule-view': {
								path: 'views/schedule-view.js',
								requires: ['view', 'datatable-schedule', 'task-list', 'datatype-date-format', 'inline-resource-editor', 'inline-editor', 'inline-date-editor']
							},
							
							'gantt-view': {
								path: 'views/gantt-view.js',
								requires: ['view', 'project-calendar', 'datatype-date-math-fix', 'handlebars-templates']
							},
							
							resource: {
								path: 'resource/resource.js',
								requires: ['model']
							},
							
							'resource-list': {
								path: 'resource/resource-list.js',
								requires: ['model-list', 'resource', 'io-base', 'model-list-variance']
							},
							
							task: {
								path: 'task/task.js',
								requires: ['tree-model', 'datatype-date-parse', 'project-calendar']
							},
							
							'task-list': {
								path: 'task/task-list.js',
								requires: ['tree-model-list','task', 'io-base', 'model-list-variance']
							},
							
							'project': {
								path: 'project/project.js',
								requires: ['task-list', 'resource-list']
							},
							
							'datatable-schedule': {
								path: 'datatable-schedule/datatable-schedule.js',
								requires: ['datatable-tree-edit']
							},
							
							'project-calendar': {
								path: 'project-calendar/project-calendar.js',
								requires: ['datatype-date-format', 'datatype-date-math', 'task', 'resource']
							},
							
							'datatable-tree-body': {
								path: 'datatable-tree-body/datatable-tree-body.js',
								requires: ['datatable-body'],
							},
							
							'app-login': {
								path: 'app-login/app-login.js',
								requires: ['io-base'],
							},
							
							'app-project-management': {
								path: 'app-project-management/app-project-management.js',
								requires: ['datatable-tree-body', 'app', 'alert', 'json', 'login-view', 'logout-view', 'newproject-view', 'dashboard-view', 'project-view', 'schedule-view', 'resource-view', 'gantt-view', 'app-nav'],
							},
							
							'app-nav': {
								path: 'app-nav/app-nav.js',
								requires: ['view', 'substitute', 'app-login']
							},
						}
					}
				}
			}).use('app-project-management', 'gallery-markdown', function(Y){
				var pmApp = new Y.ProjectManagement.App(
					{{#toJson appConfig}}
					{{/toJson}}
				);
				pmApp.set('viewContainer', 'div.main');
				pmApp.render();
				pmApp.dispatch();
			});
		</script>
	</body>
</html>
